<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: #34A7C1;
  position: fixed;
  bottom: 0;
  width: 100%;
   margin-bottom: 0;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 1px 13px;
  text-decoration: none;
  font-size: 16px;
}

.navbar a:hover {
  background: white;;
  color: black;
}

  .a_active {
  background-color: #3F4C8CAF;
  color: white;
}


</style>
<div onload="navbar_activate()" class="navbar">
  <a id="home_a" href="/home" class="active">Home</a>
  <a id="history_a"  href="/history">History</a>
  <a id="analysis_a" href="/analysis">Analysis</a>
  <a id="misc_a" href="/misc">Misc</a>
</div>
<script>
  function navbar_activate(){

  let index = document.title;

  if (index == "Home"){
    document.querySelector("#home_a").setAttribute("class","a_active")
  }
  else if (index == "History"){
      document.querySelector("#history_a").setAttribute("class","a_active")
  }
  else if (index == "Analysis"){
      document.querySelector("#analysis_a").setAttribute("class","a_active")
  }
    else if (index == "Misc"){
      document.querySelector("#misc_a").setAttribute("class","a_active")
  }

}
//Execution  immediately
navbar_activate()
</script>