<style>
.logout_btn {
    position: absolute;
    top: 7px;
    z-index: 1000;
    right: 0px;
    width: 80px;
    border: none;
    background-color: #4394E1;
    color: white;
    font-size: large;
    cursor: pointer;
    text-align: center;
    border-radius: 10px 0  0 10px;
    font-weight: bold;
    text-decoration: none;
}

.logout_btn:hover {
  background-color: #ddd;
  color: black;
}

</style>
<div >
    <a onclick="change_redirect_logout()" class="logout_btn" href>Logout</a>
</div>

<script>
            function change_redirect_logout(){
            /*
            @description:
                Change the logout of auth0 . If the url contain localhost it change it to localhost
            */

            let current_url = window.location.href
            let href='https://gwillig.eu.auth0.com/v2/logout?'

            if (current_url.includes("localhost:")){
                document.querySelector(".logout_btn").href = href + "&returnTohttp%3A%2F%2Flocalhost:5000/"
            }
            else {
                document.querySelector(".logout_btn").href = href + "&returnTo=https://foodwatchgw.herokuapp.com/"
            }
        }

</script>