<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://d3js.org/d3.v3.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename = 'js/home.js') }}?100"></script>
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/home.css')}}">

  <style>


</style>

</head>
<body  onload="create_pieChart(6);get_data_today()">

<div class="chart-container">

</div>
<div class="table_area">

<table id="part_day">
  <tr>
    <th>Rank</th>
    <th>Date</th>
    <th>Calorie</th>
    <th>Steps</th>
    <th>Calorie per step [hecto]</th>
  </tr>
  <tr>
    <th>1</th>
    <td>{{best_days[0]["timestamp_str"]}}</td>
    <td>{{best_days[0]["calorie"]}}</td>
    <td>{{best_days[0]["amount_steps"]}}</td>
    <td>{{best_days[0]["ratio"]}}</td>
  </tr>
  <tr>
    <th>2</th>
    <td>{{best_days[1]["timestamp_str"]}}</td>
    <td>{{best_days[1]["calorie"]}}</td>
    <td>{{best_days[1]["amount_steps"]}}</td>
    <td>{{best_days[1]["ratio"]}}</td>
   </tr>
  <tr>
    <th>3</th>
    <td>{{best_days[2]["timestamp_str"]}}</td>
    <td>{{best_days[2]["calorie"]}}</td>
    <td>{{best_days[2]["amount_steps"]}}</td>
    <td>{{best_days[2]["ratio"]}}</td>
  <tr>
  </tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
    <tr>
    <th>1</th>
    <td>{{worst_days[0]["timestamp_str"]}}</td>
    <td>{{worst_days[0]["calorie"]}}</td>
    <td>{{worst_days[0]["amount_steps"]}}</td>
    <td>{{worst_days[0]["ratio"]}}</td>
  </tr>
  <tr>
    <th>2</th>
    <td>{{worst_days[1]["timestamp_str"]}}</td>
    <td>{{worst_days[1]["calorie"]}}</td>
    <td>{{worst_days[1]["amount_steps"]}}</td>
    <td>{{worst_days[1]["ratio"]}}</td>
   </tr>
  <tr>
    <th>3</th>
    <td>{{worst_days[2]["timestamp_str"]}}</td>
    <td>{{worst_days[2]["calorie"]}}</td>
    <td>{{worst_days[2]["amount_steps"]}}</td>
    <td>{{worst_days[2]["ratio"]}}</td>
  <tr>
    </tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
    <tr>
    <th>Cur</th>
    <td>{{current[0]["timestamp_str"]}}</td>
    <td>{{current[0]["calorie"]}}</td>
    <td>{{current[0]["amount_steps"]}}</td>
    <td>{{current[0]["ratio"]}}</td>
    <td>{{current[0]["index"]+1}}</td>
  </tr>
</table>
<div id="input_fields">
  <p class="p_name">
      <label for>Name</label>
      <input  class="input_fields" list="list_name"  id="input_name" />

      <datalist id="list_name">
         {% for name in datalist_name %}
          <option value={{name}}>
         {% endfor %}
      </datalist>
  </p>
  <p>
    <label>Calorie</label>
    <input  class="input_fields" list="list_cal" id="input_cal"/>
    <datalist id="list_cal">
      <option value=50>
      <option value=100>
      <option value=150>
      <option value=200>
      <option value=250>
      <option value=300>
      <option value=350>
      <option value=400>
    </datalist>
  </p>
<input class="add_btn" type="button" value="Add" onclick="insert_new_row()">
</div>
<table id="today_food">
  <tr>
    <th class="td_timestamp">Timestamp</th>
    <th class="td_food_time">Time</th>
    <th>Name</th>
    <th onclick="insert_new_row()">Calorie</th>
  </tr>

  <tr>
    <td class="td_timestamp">pl_timestamp</td>
    <td class="current_time"></td>
    <td></td>
    <td></td>
</table>
</div>


{% include "footer.html" %}
</body>
</html>


