<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/jwt-decode.js') }}?100"></script>
  <script type="text/javascript" src="{{ url_for('static', filename = 'js/home.js') }}?100"></script>
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/home.css')}}?100">
</head>
<body  onload="create_pieChart(6);get_data_today();jwt_localStorage()">
{% include "header.html" %}
<div class="chart-container">

</div>
<div class="table_area">
<div id="cal_ratio">
  <p class="p_name">
      <label for>Total calories</label>
      <input  value="{{total_calories[0]}}" class="input_fields" id="total_calorie" />
  </p>
  <p class="p_name">
      <label for>Total steps</label>
      <input  value="30000" class="input_fields" id="total_steps" />
  </p>
  <p id="cal_output" class="p_name" ></p>
  <p  class="p_name" >Ratio shoulb between 4.8 and 5.6</p>
  </p>
<ul class="nav_mo_ca">
  <li>
    <input class="nav_input" type="button" value="Cal ratio" onclick="calculate_ratio(this)">
  </li>
  <li>
    <input class="nav_input " type="button" value="Motiviation" onclick="show_motivation_div('motivation_div')">
  </li>
</ul>
  <div id="motivation_div" onclick="hide_motivation_div(this)" class="motivation_div">
    <p id="motivation_txt">Text</p>

      <img src = "https://drive.google.com/uc?id=1JSXs3Mfr5da2Gdjtxr5Dph1-j7xBiv9g"
  width=200px height=500px>
  </div>
</div>
<table id="part_day">
  <tr>
    <th>No.</th>
    <th>Calorie</th>
    <th>Steps</th>
    <th>C/S</th>
  </tr>
    <tr>
    <th>Cur</th>
    <td>{{current[0]["calorie"]}}</td>
    <td>{{current[0]["amount_steps"]}}</td>
    <td>{{current[0]["ratio"]}}</td>
  </tr>
</table>
<div id="input_fields">
  <p class="p_name">
      <label for>Name</label>
      <input id="input_name" onchange="addCalorie()"  class="input_fields" list="list_name" />

      <datalist id="list_name">
         {% for el in datalist_name %}
        <option value={{el[0]}}>{{el[1]}}</option>
         {% endfor %}
      </datalist>
  </p>
  <p>
    <label>Calorie</label>
    <input  id="input_cal" class="input_fields" list="list_cal"/>
    <datalist id="list_cal">
      <option value=50>
      <option value=100>
      <option value=150>
      <option value=200>
      <option value=250>
      <option value=300>
      <option value=350>
      <option value=400>
    </datalist>
  </p>
  <p id="msg_db"></p>
  <ul class="nav_mo_ca">
  <li>
    <input class="add_btn" type="button" value="Add" onclick="post_insert_data()">
  </li>
  <li>
    <input class="nav_input " type="button" value="Bulk add"
           onclick='show_bulk_add("bulk_add")'>

  </li>
</ul>
</div>
<div class="bulk_add" id="bulk_add">
  <textarea id="bulk_textarea">
    Proteinpulver_25_g,90
    Leinsamen_20g,106
    Apfelkuchen_Hälfte,50
    Hafer_50_g,180
  </textarea>
</div>
<table id="today_food">
  <tr>
    <th class="td_timestamp">Timestamp</th>
    <th class="td_food_time">Time</th>
    <th>Name</th>
    <th onclick="insert_new_row()">Calorie</th>
  </tr>

  <tr>
    <td class="td_timestamp">pl_timestamp</td>
    <td class="current_time"></td>
    <td></td>
    <td></td>
</table>


</div>
{% include "footer.html" %}
</body>
</html>


