<!DOCTYPE html>
<html>
<head>
<!-- https://dev.to/codypearce/animate-an-octocat-sprite-swimming-with-css-2apl-->

  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/octo.css')}}">

</head>
<body>

 <input  class="input_fields" list="list_name"  id="input_name" onclick="(function test(){;
var msg = new SpeechSynthesisUtterance('Hello Gustav, do you want a quick over view about the last day?') window.speechSynthesis.speak(msg);})()"/>
 <div class="ocean">
  <div class="bubble bubble--1"></div>
  <div class="bubble bubble--2"></div>
  <div class="bubble bubble--3"></div>
  <div class="bubble bubble--4"></div>
  <div class="bubble bubble--5"></div>
  <div class="bubble bubble--6"></div>
  <div class="bubble bubble--7"></div>
  <div class="bubble bubble--8"></div>
  <div class="bubble bubble--9"></div>
  <div class="bubble bubble--10"></div>
  <div class="bubble bubble--11"></div>
  <div class="bubble bubble--12"></div>
  <div id="octocat" class="normal_cat" onclick="smiling_cat()"></div>
</div>

</body>
<script>

 function smiling_cat(){
  var msg = new SpeechSynthesisUtterance('meow meow  meow  meow');
        msg.volume = 1
        msg.rate = 1.5
        msg.pitch = 10
        msg.lang = 'de-D'
  window.speechSynthesis.speak(msg);

  var msg = new SpeechSynthesisUtterance('Sfenjaa');
        msg.volume = 1
        msg.rate = 0.5
        msg.pitch = 10
        msg.lang = 'de-D'
  window.speechSynthesis.speak(msg);

  document.querySelector("#octocat").classList.remove("normal_cat")
  document.querySelector("#octocat").classList.add("sm_cat")
  setTimeout(function(){

     document.querySelector("#octocat").classList.add("normal_cat")
     document.querySelector("#octocat").classList.remove("sm_cat")


  }, 6000);
 }

</script>
</html>


