<!DOCTYPE html>
<html>
<head>
<style>
.cool_face {
  width: 100px;
  height: 100px;

  position: relative;
  animation-name: example;
  animation-duration: 4s;
  font-size: 60px;

}

@keyframes example {
  0%   {left:0px; top:0px;}
  25%  {left:200px; top:0px;}
  50%  {left:200px; top:200px;}
  75%  {left:0px; top:200px;}
  100% {left:0px; top:0px;font-size: 500px;}
}
</style>
</head>
<body>

 <input  class="input_fields" list="list_name"  id="input_name" onclick="(function test(){var msg = new SpeechSynthesisUtterance('Hello Gustav, do you want a quick over view about the last day?');
window.speechSynthesis.speak(msg);})()"/>
https://codepen.io/codypearce/pen/VwYOGzq
document.getElementById("parentID").innerHTML+= "<div class="cool_face">&#128526</div>"
</body>
</html>


