html,
body {
  padding:0;
  width:100%;
  height:100%;

}

.chart-container {
  margin-left:5%;
  width:90%;
  height:50%;
  border: 1px dotted silver;
}
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

.main {
padding: 16px;
margin-bottom: 30px;
}

svg text{
font-size: 1em;
font-family: sans-serif;


}

.table_area {
  margin: 2%;

}

.table_area td, .table_area th {
  border: 1px solid #ddd;
  padding: 8px;
  width: 9%;
  border-radius: 5px;
}

.table_area tr:nth-child(even){background-color: #f2f2f2;}

.table_area tr:hover {background-color: #ddd;}

.table_area th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #3C6B9E;
  color: white;
}

.td_food_name{
    width:80%
}

.td_food_amount{
    width:25%
}

.td_food_time{
  width:10%;
}

.td_timestamp{
  display:none;
}

.input_fields{
  width: 85%;
  font-size: x-large;
}

.p_name{
  padding-right: 10px;
}

.input_cal{
  width: 80%;
  font-size: x-large;
}
.add_btn {
  display: block;

  border: none;
  background-color: #34A7C1;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  border-radius: 10px;
  margin-left: 15%;
  font-weight: bold;
  font-size: large;
}

.add_btn:hover {
  background-color: #ddd;
  color: black;
}

#today_food{
    margin-bottom: 20%;
}

#part_day{
    margin-bottom: 10%;
}
#cal_output{
    font-size: x-large;
}

.nav_mo_ca {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav_mo_ca li {
  float: left;
}

.nav_input{
    width: 100%;
    border: none;
    background-color: #34A7C1;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
    margin-left: 15%;
    font-weight: bold;
    font-size: large;
}

.motivation_div{
    z-index: 1000;
    border-radius: 10px;
    position: absolute;
    display:none;
    width: 85%;
    height: 110%;
    background-color: white;
    top: 10%;
    border-width:2px;
    box-shadow: 10px -1px 36px 1px rgba(0,0,0,0.75);

}

.motivation_div p {
    padding-left: 30px;
}

.motivation_div img{
   padding-left: 30px;

}

#bulk_textarea{
    width: 90%;
    height: 90%;
    border: none;
    top: 3%;
    right: 20px;
    position: absolute;
}

.bulk_add{
    left: 30px;
    bottom: -40%;
    z-index: 1000;
    border-radius: 10px;
    position: absolute;
    display:none;
    width: 85%;
    height: 40%;
    background-color: white;

    border-width:2px;
    box-shadow: 10px -1px 36px 1px rgba(0,0,0,0.75);

}

@media screen and (min-width: 600px) {

    .bulk_add{
        bottom: 0;

    }
}