
.background_div{
    position: absolute;
    z-index: -1;
    overflow:hidden;
}

.background_div img{
    position: absolute;
    left: -70px;
}


.header{
    position:absolute;
    color: white;
    background-color: #3c6b9eed;


}
.header p{
    margin: 10px;
    font-weight: bold;
}

.login{
    bottom: 15px;
    position: absolute;
    color: white;
    background-color: #004897b8;
    border-radius: 0 15px 15px 0;
    width:40%;
    padding-left: 60px;
    font-size: xx-large;
    z-index:1000;
    }


.login a{
    color: white;
    text-decoration: none;
    display: block;
}
body{
    margin:0px;
}
@media screen and (max-width: 600px) {
    .background_div{
        width: 100vw;
        height: 100vh;
    }
    .login{
        bottom: 15px;
        width:40%;
    }
    .header{
        width:100%;
        font-size:160%
    }
    .background_div img{
        position: absolute;
        left: -75px;
        height: 650px;
        top: -70px;
    }
}
@media screen and (min-width: 600px) {

        .background_div {
            width: 650px;
            height: 80vh;
            border-radius: 30px 30px;
        }

        .background_div img{
            border-radius: 30px 30px 30px 30px;
        }

        .body{
            background-color: #800028;
        }

        .desktop{
            margin-top: 5%;
            margin-left: 30%;
        }

        .header{
            width: 650px;
            border-radius: 30px 30px 0 0;
            font-size:250%
        }
        .login{

            width:150px;
            bottom: 30%;
            }
         .login a{
            cursor: pointer;
         }

    }
